body {
    background-color: lightblue;
}

.container-fluid {
    background-color: lightblue;
}

#map {
    min-height: 600px;
    background: #ddd;
    outline: 0;
}

.info {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}